extends ../layout/admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Statistics
                
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Statistics
              
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              form(name="signup-form", method="get" action='/statistics/search/')
                div.form-group
                  label Entranced Year
                  select(name="entranced_year").form-control
                    each entracnedYear in entracnedYears
                      option(value="#{entracnedYear}") #{entracnedYear}
                div.form-group
                  label Department
                  select(name="department").form-control
                    each department in departments
                      option(value="#{department._id}") #{department.name}
                div.form-group
                  button(type="submit").btn.btn-primary.pull-right Submit
                  
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              h1.pull-left Years
              div(style="margin-top: 2.5em")
                div
                  p.pull-right year 4
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(255, 171, 171, 0.6);").pull-right
                div
                  p.pull-right year 3
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(100, 171, 171, 0.6);").pull-right
                div
                  p.pull-right year 2
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(55, 171, 70, 0.6);").pull-right
                div
                  p.pull-right year 1
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(200, 50, 171, 0.6);").pull-right
              canvas#myChart(width='1200', height='500')  
              
          .panel.panel-default
            .panel-body
              h1.pull-left Elective Course
              div(style="margin-top: 2.5em")
                div
                  p.pull-right year 4
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(255, 171, 171, 0.6);").pull-right
                div
                  p.pull-right year 3
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(100, 171, 171, 0.6);").pull-right
                div
                  p.pull-right year 2
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(55, 171, 70, 0.6);").pull-right
                div
                  p.pull-right year 1
                  div(style="margin-left: 10px; margin-right: 10px; width:30px; height:30px; background-color:rgba(200, 50, 171, 0.6);").pull-right
              canvas#myChart2(width='1200', height='500')  
              
  script.
    $('select[name="entranced_year"] option').each(function(){
      if ($(this).val() == '#{thisYear}'){
        $(this).attr('selected', 'selected');
      } 
    });
    
    $('select[name="department"] option').each(function(){
      if ($(this).val() == '#{departmentSearch}'){
        $(this).attr('selected', 'selected');
      } 
    });
    
    var ctx = document.getElementById("myChart").getContext("2d");
    var data = {
      labels: [#{thisYear}, #{thisYear+1}, #{thisYear+2}, #{thisYear+3}],
      datasets: [
        {
            label: "Freshman",
            fillColor: "rgba(200, 50, 171, 0.5)",
            strokeColor: "rgba(200, 50, 171, 0.8)",
            highlightFill: "rgba(200, 50, 171, 0.75)",
            highlightStroke: "rgba(200, 50, 171, 1)",
            data: [#{data[0][1].count}, #{data[1][1].count}, #{data[2][1].count}, #{data[3][1].count}]
        },
        {
            label: "Sophomore",
            fillColor: "rgba(55, 171, 70, 0.5)",
            strokeColor: "rgba(55, 171, 70, 0.8)",
            highlightFill: "rgba(55, 171, 70, 0.75)",
            highlightStroke: "rgba(55, 171, 70, 1)",
            data: [#{data[0][2].count}, #{data[1][2].count}, #{data[2][2].count}, #{data[3][2].count}]
        },
        {
            label: "Junior",
            fillColor: "rgba(100, 171, 171, 0.5",
            strokeColor: "rgba(100, 171, 171, 0.8)",
            highlightFill: "rgba(100, 171, 171, 0.75)",
            highlightStroke: "rgba(100, 171, 171, 1)",
            data: [#{data[0][3].count}, #{data[1][3].count}, #{data[2][3].count}, #{data[3][3].count}]
        },
        {
            label: "Senior",
            fillColor: "rgba(255, 171, 171, 0.5)",
            strokeColor: "rgba(255, 171, 171, 0.8)",
            highlightFill: "rgba(255, 171, 171, 75)",
            highlightStroke: "rgba(255, 171, 171, 1)",
            data: [#{data[0][4].count}, #{data[1][4].count}, #{data[2][4].count}, #{data[3][4].count}]
        }
      ]
    };
    var options = {
    }
    var myBarChart = new Chart(ctx).Bar(data, options);
    
    $.get("http://188.166.238.65:3000/test_data", function( response ) {
      
      var graphdata = {1: [], 2: [], 3: [], 4: []};
      for(item in response){
        graphdata[1].push(response[item].count[1]);
        graphdata[2].push(response[item].count[2]);
        graphdata[3].push(response[item].count[3]);
        graphdata[4].push(response[item].count[4]);
      }
      
      var ctx2 = document.getElementById("myChart2").getContext("2d");
      var data = {
        labels: Object.keys(response),
        datasets: [
          {
              label: "Freshman",
              fillColor: "rgba(200, 50, 171, 0.5)",
              strokeColor: "rgba(200, 50, 171, 0.8)",
              highlightFill: "rgba(200, 50, 171, 0.75)",
              highlightStroke: "rgba(200, 50, 171, 1)",
              data: graphdata[1]
          },
          {
              label: "Sophomore",
              fillColor: "rgba(55, 171, 70, 0.5)",
              strokeColor: "rgba(55, 171, 70, 0.8)",
              highlightFill: "rgba(55, 171, 70, 0.75)",
              highlightStroke: "rgba(55, 171, 70, 1)",
              data: graphdata[2]
          },
          {
              label: "Junior",
              fillColor: "rgba(100, 171, 171, 0.5)",
              strokeColor: "rgba(100, 171, 171, 0.8)",
              highlightFill: "rgba(100, 171, 171, 0.75)",
              highlightStroke: "rgba(100, 171, 171, 1)",
              data: graphdata[3]
          },
          {
              label: "Senior",
              fillColor: "rgba(255, 171, 171, 0.5)",
              strokeColor: "rgba(255, 171, 171, 0.8)",
              highlightFill: "rgba(255, 171, 171, 75)",
              highlightStroke: "rgba(255, 171, 171, 1)",
              data: graphdata[4]
          }
        ]
      };
      var options = {
      }
      var myBarChart2 = new Chart(ctx2).Bar(data, options);
    });
    
