extends ../layout/admin_layout

block content
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					h1.page-header
						| Instructors
						a(href="/instructors/signup").btn.btn-success.pull-right Sign Up
						button(type"button" data-toggle="modal", data-target="#instructorModal").btn.btn-success.pull-right.import-btn Import CSV
					ol.breadcrumb
						li.active
							i.fa.fa-user
							|  Instructors
							
			if successMessage != ''
				.row
					.col-lg-12
						.alert.alert-success=successMessage
						
			if errorMessage != ''
				.row
					.col-lg-12
						.alert.alert-danger
							ul
							each message in errorMessage
								li= message
								
			.row
				.col-lg-12
					.panel.panel-default
						.panel-body
							form(name="signup-form", method="get" action='/instructors/search')
								div.form-group.search-group
									label Instructor ID
									input(type="text", name="instructor_id").form-control
								div.form-group.search-group
									label Full Name
									input(type="text", name="fullname").form-control
								div.form-group.search-button-group.pull-left
									button(type="submit" style="margin-right: 1em").btn.btn-primary Search
									a(href="/instructors").btn.btn-danger Clear
								
			.row
				.col-lg-12
					.panel.panel-default
						.panel-body
							table.table
								thead
									th Instructor ID
									th Full Name
									th Last Update
								tbody
								each data in datas
									tr
										td.list-data=data.identity
										td.list-data=data.fullname
										td.list-data=data.last_update
										td
											a(href='/instructors/edit/' + data._id).btn.btn-info Edit  
										td
											form(name="delete-form", method="post" action='/instructors/delete/' + data._id)
												input(type="hidden" name="_method" value="delete")
												button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
												
			if (pages > 1)
				.pagination
					ul
						!=createPagination(pages, page)
												
				script.
					$('input[name="instructor_id"]').each(function(){
						$(this).val(#{instructorID});
					});

					$('input[name="fullname"]').each(function(){
						$(this).val('#{fullName}');
					});
