extends ../layout/admin_layout

block content
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					h1.page-header
						| Students
						a(href="/students/signup").btn.btn-success.pull-right Sign Up
						button(type"button" data-toggle="modal", data-target="#studentModal").btn.btn-success.pull-right.import-btn Import CSV
					ol.breadcrumb
						li.active
							i.fa.fa-user
							|  Students
			if successMessage != ''
				.row
					.col-lg-12
						.alert.alert-success=successMessage
			if errorMessage != ''
				.row
					.col-lg-12
						.alert.alert-danger
							ul
							each message in errorMessage
								li= message
			.row
				.col-lg-12
					.panel.panel-default
						.panel-body
							table.table
								thead
									th Student ID
									th Full Name
									th Dapartment
									th Entranced Year
									th Last Update
								tbody
								each data in datas
									tr
										td.list-data=data.identity
										td.list-data=data.fullname
										td.list-data=data.department.name
										td.list-data=data.entranced_year
										td.list-data=data.last_update
										td
											a(href='/students/edit/' + data._id).btn.btn-info Edit  
										td
											form(name="delete-form", method="post" action='/students/delete/' + data._id)
												input(type="hidden" name="_method" value="delete")
												button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
