extends ../layout/admin_layout

block content
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					h1.page-header
						| All Users
						a(href="/users/signup", style="float:right").btn.btn-success Sign Up
					ol.breadcrumb
						li.active
							i.fa.fa-user
							|  User
			.row
				.col-lg-12
					.panel.panel-default
						.panel-body
							table.table
								thead
									th Student ID
									th Firstname
									th Lastname
									th Dapartment
									th Entranced Year
									th Last Update
								tbody
								each data in datas
									tr
										td=data.student_id
										td=data.firstname
										td=data.lastname
										td=data.department
										td=data.entranced_year
										td=data.last_update
										td
											a(href='/users/edit/' + data._id).btn.btn-info Edit  
										td
											form(name="delete-form", method="post" action='/users/delete/' + data._id)
												input(type="hidden" name="_method" value="delete")
												button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
