extends ../layout/admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Course 
            a(href='course/create').btn.btn-success.pull-right Create
          ol.breadcrumb
            li.active
              i.fa.fa-file
              |  Course
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              table.table
                thead
                  th Name
                  th Course ID
                  th Credit
                  th Year
                  th Instructor
                  th Department
                  th 
                  th 
                tbody
                each data in datas
                  tr
                    td.list-data=data.course_name
                    td.list-data=data.course_id 
                    td.list-data=data.credit
                    td.list-data=data.recommended_year
                    td.list-data=data.instructor.fullname
                    td.list-data=data.department.name
                    td.course-edit  
                      a(href='course/edit/' + data._id).btn.btn-info Edit  
                    td.course-delete
                      form(name="delete-form", method="post" action='/course/delete/' + data._id)
                        input(type="hidden" name="_method" value="delete")
                        button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
