extends ../admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Course 
            a(href='course/create', style="float:right").btn.btn-success Create
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Course
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              table.table
                thead
                  th Name
                  th Course ID
                  th Credit
                  th Description
                  th Department
                  th 
                  th 
                tbody
                each data in datas
                  tr
                    td=data.course_name
                    td=data.course_id 
                    td=data.credit
                    td=data.description
                    td=data.department
                    td  
                      a(href='course/edit/' + data._id).btn.btn-info Edit  
                    td
                      form(name="delete-form", method="post" action='/course/delete/' + data._id)
                        input(type="hidden" name="_method" value="delete")
                        button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
