extends ../layout/admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Course 
            a(href='/course/create').btn.btn-success.pull-right Create
          ol.breadcrumb
            li.active
              i.fa.fa-file
              |  Course
              
      if successMessage != ''
        .row
          .col-lg-12
            .alert.alert-success=successMessage
            
      if errorMessage != ''
        .row
          .col-lg-12
            .alert.alert-danger
              ul
              each message in errorMessage
                li= message
                
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              form(name="signup-form", method="get" action='/course/search')
                div.form-group.search-group
                  label Couse Name
                  input(type="text", name="course_name").form-control
                div.form-group.search-group
                  label Course ID
                  input(type="text", name="course_id").form-control
                div.form-group.search-group
                  label Instructor Name
                  input(type="text", name="fullname").form-control
                div.form-group.search-group
                  label Department
                  select(name="department").form-control
                    each department in departments
                      option(value="#{department._id}") #{department.name}
                div.form-group.search-button-group.pull-left
                  button(type="submit" style="margin-right: 1em").btn.btn-primary Search
                  a(href="/course").btn.btn-danger Clear
            
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              table.table
                thead
                  th Name
                  th Course ID
                  th Credit
                  th Year
                  th Instructor
                  th Department
                  th 
                  th 
                tbody
                each data in datas
                  tr
                    td.list-data=data.course_name
                    td.list-data=data.course_id 
                    td.list-data=data.credit
                    td.list-data=data.recommended_year
                    td.list-data=data.instructor.fullname
                    td.list-data=data.department.name
                    td.course-edit  
                      a(href='course/edit/' + data._id).btn.btn-info Edit  
                    td.course-delete
                      form(name="delete-form", method="post" action='/course/delete/' + data._id)
                        input(type="hidden" name="_method" value="delete")
                        button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
                        
      if (pages > 1)
        .pagination
          ul
            !=createPagination(pages, page)
                        
      script.
        $('select[name="department"] option').each(function(){
          if ($(this).val() == '#{departmentSearch}'){
            $(this).attr('selected', 'selected');
          } 
        });

        $('input[name="course_id"]').each(function(){
          $(this).val('#{courseID}');
        });

        $('input[name="course_name"]').each(function(){
          $(this).val('#{courseName}');
        });
        
        $('input[name="fullname"]').each(function(){
          $(this).val('#{fullName}');
        });
